<!--
 - @author Anlibraly
 - @class  刹车灯测试
 -->
<!DOCTYPE html>
<html ng-app="myCar">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/style.css" />
		<script src="scripts/angular.min.js"></script>
		<script src="controll/question.js"></script>
		<title>刹车灯测试</title>
		<meta name="keywords" content="刹车灯  测试" />
		<meta name="description" content="刹车灯  测试" />
		<meta name="author" content="A" />
	</head>
	<body ng-controller="carControl">
		<div class="wrap">
			<div style="margin-top: 10px;">
				<button study>学习模式</button>
				<button jiamode>甲模式</button>
				<button yimode>乙模式</button>
				<button open>改进后刹车灯</button>
			</div>
			<div style="margin-top: 10px;">
				<span>初始车距:</span><input value="15" ng-model="distance_tmp" placeholder="初始车距" type="number"/>
				<span>前车变换刹车时间差(100ms):</span><input ng-model="dis_time" value="5" placeholder="时间差" type="number"/>x100ms
			</div>
			<div style="margin-top: 10px;">
				<button gogo>开始</button>
				<span>{{sts}}</span>
			</div>

			<div><span style="display:none;">{{times}}</span><div>
			<hr>
			<div>{{ser}}</div>
			<hr>
			<div>
				<img style="width:80px;height:20px;position: relative;margin-bottom: -18px;" ng-src='{{imgs}}'/>
				<!-- <div id="circle" ng-style="cir"></div> -->
			</div>
			<div>
				<img ng-style="carStyle" src="img/car.jpg"/>
			</div>
			<hr>
			<table id="records" ng-if="over">
			  <tr>
			  	<td>记录项</td>
			  	<td ng-repeat="tm in t">第{{$index}}次</td>
			  </tr>	
			  <tr>
			    <td>刹车反应时间(ms)</td>
			    <td ng-repeat="tm in t">{{tm.ts}}</td>
			  </tr>
			  <tr>
			    <td>刹车力度</td>
			    <td ng-repeat="bt in btc">
			    	{{bt.a}}
			    </td>
			  </tr>
			  <tr>
			    <td>车距(m)</td>
			    <td ng-repeat="ds in dist">{{ds.dt}}</td>
			  </tr>
			</table>

		</div>
	</body>
</html>